
/* font-family: 'Nova Square', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Righteous', cursive; */

/* COLORI */
:root{
    --main:#8b0102;
    --sec: #ececec; 
}

h2,h3{
    color: var(--main);
    font-family: 'Nova Square', cursive;
}

*{
    font-family: 'Rajdhani', sans-serif;
}


/* NAVBAR */

/* nav{
    background-color: white;
} */

.bg-set{
    display: flex;
    justify-content:center;
}

.imgDim{
    height: 60px;
}

.setCol{
    height: 100%;
    width: 100%;
    
}

.navbarLink{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
}

/* HEADER   Color: darkred, #C67F7F, #ececec  grigio rgb(236, 236, 236)

Font:  Nova Square, Rajdhani*/

.bgHeader{
    height: 100vh;
    background: linear-gradient(to bottom, rgb(255, 255, 255, 1), rgba(198, 127, 127, 0)), url(./media/switzerland-862870_1920.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.imgMountain{
    width: 100%;
    position: absolute;
    bottom: 0px; 
    left: 0px;  
    }


    /* prima parte */
 
    section{
        background-color: var(--sec) ;
    }


    .custom-margin-1{

        margin-bottom: 150px;
       
    }

    .custom-margin-2{

       position: relative;
       top: 100px;
       height: 400px;
       margin-right: 50px;
       margin-left: 50px;
       
       
    }

    .custom-margin-3{

       position: relative;
       top: 100px;
       right: 40px;
       
    }
    
    

    i{
        color: var(--main);
    }


    .bb-icons {
        border-bottom: 3px solid var(--main);
        position: relative;
    }
    
    .bb-icons::after {
        position: absolute;
        right: 45%;
        bottom: -12px;
        content: "";
        height: 20px;
        width: 20px;
        background-color: white;
        border-radius: 50%;
        border: 1px solid var(--main);
    }

    .setButton{
        margin-left: 45%;
        background-color: var(--main);
        border: 0;
        font-weight:2px;
        padding: 7px 35px; 
    }
    

    /* TIMELINE */

.bgTimeline{
    background: url("./media/single.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    
}


.h2Dim{
    font-size: 60px;
}


    .timelineBox{
        border-left: 5px solid var(--main);
        margin-left: 20px;
    }

    .timeline{
        margin-left: 20px;
        position: relative;

    }

    .timeline::before{
        position: absolute;
        left: -32px;
        content: " ";
        height: 20px;
        width: 20px;
        background-color: white;
        border-radius: 50%;
        border: 1px solid var(--main)
    }

    /* team */
    .imgTeam{
        border: 3px solid var(--main);
        padding: 8px;
        border-radius: 50%;
    }

    /* benefit */

    .imgBenefit{
        border: 3px solid var(--main);
        border-radius: 50%;
        padding: 15px;
        
    }

    /* footer */

    .setBg{
        background-color: var(--main);
        
    }

    .custom-dim{
        width: 100%;
    }

    .footer-img {
        width: 100%;
    }

    .bg-main {
        background-color: var(--main);
    }

    a{

       text-decoration: none;
       color: var(--sec);
    }